{% extends 'student/base.html' %}

{% block content %}
    <div class="container">
    <div class="row">
        <div class="col-lg-5 mx-auto">
            <div class="card border-0 shadow-sm mt-lg-5">
                <div class="card-header bg-danger text-white" style="background-color: #0a3d62";>
                    <h3 class="display-5 text-center">Document Form</h3>
                 </div>
                <div class="card-body">
                    <form action="{% url 'document' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                 <table class="table">
                     {{ docform }}
                 </table>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-block">
                    </div>
                 </form>
                 </div>
            </div>
        </div>
    </div>
</div><br>

{% endblock %}