<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
</head>
<body class="bg-light">


<nav class="navbar navbar-expand-lg navbar-dark sticky-top shadow-sm" style="background-color: #3c6382">
    <a href="" class="navbar-brand">Admission Management system</a>

    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a href="{% url 'home' %}" class="nav-link">Home</a>
        </li>
    </ul>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-7 mx-auto">
            <div class="card border-0 shadow-sm mt-lg-4">
                <div class="card-header bg-secondary text-white">
                    <h3 class="display-5 text-center">Registation Form</h3>
                 </div>
                 <div class="card-body">
                     <form action="{% url 'registation' %}" method="post">
                       {% csrf_token %}
                        <table class="table">
                         {{ regform }}
                        </table>
                         <div class="form-group">
                            <input type="submit" class="btn btn-block text-white" style="background-color: #4a69bd;">
                         </div>
                     </form>
                 </div>
            </div>
        </div>
    </div>
</div><br>

</body>
</html>