{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-3">
                {% include "side.html" %}
            </div>
            <div class="col-lg-9">
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <td>{{ object.name }}</td>
                    </tr>
                    <tr>
                        <th>Category</th>
                        <td>
                            {% for c in object.category.all %}
                                {{ c }}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th>Contact</th>
                        <td>
                            {{ object.contact }}{% if object.secondary_contact %}
                                , {{ object.secondary_contact }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>
                            {{ object.street }}, {{ object.get_city_display }} ({{ object.get_state_display }})
                        </td>
                    </tr>
                </table>

                    <h2 class="lead">Related Peoples</h2>
                <div class="row">


                    {% for p in related_peoples %}
                        <div class="col-lg-4">
                            <!-- Card -->
                            <div class="card">
                                {% load static %}
                                <img src="{% static 'default.png' %}" alt="" class="card-img-top">
                                <div class="card-body">
                                    <h4 class="card-title"><a>{{ p.name }}</a></h4>
                                    <p class="small">{{ p.contact }}
                                    </p>

                                    <p class="small">
                                        {% for c in p.category.all %}
                                            <span class="badge badge-primary">{{ c.cat_title }}</span>
                                        {% endfor %}
                                    </p>

                                    <a href="{% url 'item' p.id %}" class="btn btn-primary">Read More</a>
                                </div>
                            </div>
                            <!-- Card -->
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>

    </div>
{% endblock %}