{% extends 'director/base.html' %}

{% block navbar %}
{% block navbar2 %}
    {{ block.super }}
{% endblock %}
{% endblock %}

{% block side %}
    {{ block.super }}
{% endblock %}


{% block contant %}

<div class="container">

        <div class="card mt-5">
            <div class="card-body">
                <form action="" method="post">
                    {% csrf_token %}
                    <table class="table">
                        {{ pro_form }}
                    </table>
                    <input type="submit" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>


{% endblock %}


