<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
</head>
<body>

<style>

    body{
        background-image:url("{% static 'cubes.jpg' %}");
        background-repeat: no-repeat;
        background-position:center;
        background-size: cover;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color:#130f40;">
    <a href="" class="navbar-brand"> Admission Management System</a>

</nav>

<div class="container mt-1">
    <div class="row">
        <div class="col-lg-5 mx-auto">
            <div class="card mt-5 border-0 shadow-sm">
                <div class="card-header bg-secondary  text-white">
                    <h3 class="display-5 text-center">Student Login</h3>
                 </div>
                   <div class="card-body">
                        <form action="{% url 'slogin' %}" method="post">
                            {% csrf_token %}

                            <div class="form-group">
                                <label class="m-0 p-0 text-muted small">UserName</label>
                                <input type="text" name="username" placeholder="Enter Email" class="form-control">
                            </div>

                            <div class="form-group">
                                <label class="m-0 p-0 text-muted small">Passwork</label>
                                <input type="password" name="password" placeholder="Password" class="form-control">
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Login" class="btn btn-success btn-block mt-4">
                            </div>
                        </form>
                       <a href="{% url 'registation' %}" class="btn btn-primary btn-block">Student Signup</a>
                   </div>
            </div>
        </div>
    </div>
</div>
<br><br><br>
    <div class="nav text-center text-white bg-secondary mt-4">
       <div class="container mt-2">
            <div class="row">
                <div class="col-lg-10 mx-auto mt-3 mb-2">
                    <span><span class="small">Developed by Suraj</span> | <a href="{% url 'login' %}" class="text-white" style="text-decoration: none;">Login Director</a></span>
                    <hr style="padding: 1px; margin: 0; visibility: hidden;">
                </div>
            </div>
       </div>
    </div>
</body>
</html>